@page
@model proj.Areas.Identity.Pages.Account.Manage.IndexModel

<h2>Profilul utilizatorului</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p><strong>Utilizator:</strong> @Model.Username</p>

<hr />


<h3>Rețetele tale</h3>

@if (Model.UserRecipes != null && Model.UserRecipes.Any())
{
    <ul>
        @foreach (var recipe in Model.UserRecipes)
        {
            <li>
                <strong>@recipe.Title</strong> - Publicat la: @recipe.Date.ToString("dd MMM yyyy")
                <p>@recipe.Content</p>
                <hr />
            </li>
        }
    </ul>
}
else
{
    <p>Nu ai publicat încă nicio rețetă.</p>
}
